<div ng-app="app">
	<div ui-view>
		<div ng-controller="PhotoCtrl">
			<div class="photo-container" ng-hide="vm.picture">
				<ng-camera
				    capture-message="Cheeeese!"
				    countdown="3"
				    output-height="160"
				    output-width="213"
				    viewer-height="320"
				    viewer-width="426"
				    image-format="jpeg, .png"
				    jpeg-quality="100"
				    action-message="Take picture (7 second countdown)"
				    snapshot="vm.picture"
				    flash-fallback-url="/vendors/webcamjs/webcam.swf"
				    overlay-url="/overlay.png"
				    shutter-url="/shutter.mp3">
				</ng-camera>
			</div>
			<div ng-if="vm.picture">
				<img ng-src="{{vm.picture}}" alt="webcam picture">
				<button ng-click="vm.picture = !vm.picture">Try Again</button>
				<button ng-click="storePhoto(vm.picture)">Accept</button>
			</div>
		</div>
	</div>
	</div>