<div ng-app='app'>
    <div ng-controller="PhotoCtrl">

    <div class="progress-bar">
        <p>Progress Bar area</p>
        <ul>
            <li>Step 1 - Before Photo</li>
            <li>Step 2 - After Photo</li>
            <li>Step 3 - Share</li>
        </ul>
    </div>

    <div class="instructions">Take a "before" photo (or upload existing)</div>

    <div class="before-options" ng-if="showPicOptions">
        <button class="take-photo-option" ng-click="takePhotoEnabled()">Take Photo</button>

        <label class="custom-file-upload">
            <input type="file"/>
            Upload existing
        </label>
    </div>


     <div class="shutter-container" ng-hide="hidePicTaker || vm.picture">
        <ng-camera
            capture-message="Success!"
            countdown="1"
            output-height="320"
            output-width="416"
            viewer-height="auto"
            viewer-width="auto"
            image-format="jpeg, png"
            jpeg-quality="100"
            action-message="Take picture"
            snapshot="vm.picture"
            flash-fallback-url="/vendors/webcamjs/webcam.swf">
        </ng-camera>
      </div>

      <div class="draft-image-container" ng-show="vm.picture && showShutter">
        <img ng-src="{{vm.picture}}" alt="draft picture">
        <button class="tryAgain" ng-click="vm.picture = !vm.picture">Try Again</button>
        <button class="accept" ng-click="showCaption()">Accept</button>
      </div>

      <div class="image-save" ng-show="showIt">
          <figure class="image-with-caption">
            <img ng-src="{{vm.picture}}" alt="caption picture">
            <figcaption>
                <p class="day">Day 1</p>
                <p class="date">{{date | date:'mediumDate'}}</p>
            </figcaption>
          </figure>
          <div class="image-save-buttons">
              <button class="save-and-set">Save and Set Reminder Date for Next Photo</button>
              <p>or</p>
              <button class="go-to-after">Upload my "after" photo now</button>
          </div>
      </div>
      <div class="set-reminder">
        <p>How many days til your next progress pic?</p>
        <select>
            <option value="7">7 days</option>
            <option value="14">14 days</option>
            <option value="30">30 days</option>
            <option value="60">60 days</option>
            <option value="90">90 days</option>
        </select>
        <input type="datetime" placeholder="enter a reminder date">
      </div>
    </div>
</div>  

<!-- <<div class="photo-container" ng-hide="vm.picture">
        <ng-camera
            capture-message="Cheeeese!"
            countdown="1"
            output-height="160"
            output-width="213"
            viewer-height="320"
            viewer-width="426"
            image-format="jpeg, .png"
            jpeg-quality="100"
            action-message="Take picture (7 second countdown)"
            snapshot="vm.picture"
            flash-fallback-url="/vendors/webcamjs/webcam.swf"
            overlay-url="/overlay.png"
            shutter-url="/shutter.mp3">
        </ng-camera>
      </div> -->

      <!--  viewer-height="320"
            viewer-width="426" -->

           <!--    overlay-url="overlay.png"
            shutter-url="shutter.mp3" -->


