<div ng-app="app">
  <div ui-view>
  	<div class="whole">
  		<header>
  			<ul>
  				<li><a href="/users/sign_in">Log In</a></li>
  				<li><a href="/users/sign_up"><span>Sign Up</span></a></li>
  			</ul>
  		</header>
      <section class="wrapper">
  		<h1><span>
  			PROGRESS</span><br>PIC S
  		</h1>
  		<h2>
  			take pics, upload, track your progress
  		</h2>
  		<h3>
  			Progress Pics is the easiest way to take, store, and share before and after pictures.
  		</h3>

  		<div class="signup-btn">
  			Sign Up
  		</div>

      <h4>
        featured process pics:
      </h4>
      <img src="/assets/images/progrss_pics_landing1.png" alt="sample" height="600" width="600">
      </section>
  	</div>
  </div>
</div>


