<div ng-app="app">
  <div ui-view>
  	<div class="whole">
  		<header>
  			<ul>
  				<li><a href="/users/sign_in">Log In</a></li>
  				<li><a href="/users/sign_up"><span>Sign Up</span></a></li>
  			</ul>
  		</header>
      <section class="wrapper">
  		<h1><span>
  			PROGRESS</span><br><img src="http://xinyu0.github.io/tiy-assignments/images/processpics/logo_kettlebell.png" alt="kettlebell" width="46px">PICS
  		</h1>
  		<h2>
  			go work out, take pics,<br>track your progress
  		</h2>
  		<h3>
  			Progress Pics is the easiest way to take, store, and share your before and after pictures.
  		</h3>

  		<a class="signup-btn" href="/users/sign_up">Sign Up</a>

      <h4>
        featured progress pics:
      </h4>

      <img src="/assets/progrss_pics_landing1.png" alt="sample" height="600" width="600">

      <div class="featuredpics"><div class="featured"><img src="http://xinyu0.github.io/tiy-assignments/images/processpics/progrss_pics_justin.png" alt="justin" width="100%">
      </div>
      <div class="featured">Justin<span> </span>Austin,Tx<hr> "Wooow. This app automatically timestamps my shots. It is so convenient."
      </div></div>
      <div class="featuredpics"><div class="featured"><img src="http://xinyu0.github.io/tiy-assignments/images/processpics/progrss_pics_landing1.png" alt="ryan" width="100%">
      </div>
      <div class="featured">Ryan<hr>Austin,Tx
      </div></div>
     <div class="featuredpics"><div class="featured"><img src="http://xinyu0.github.io/tiy-assignments/images/processpics/progrss_pics_xinyu.png" alt="xinyu" width="100%">
      </div>
      <div class="featured">Xinyu<hr>Austin,Tx
      </div></div>
      </section>
      <footer>
        Copyright © 2015 Process Pics. All rights reserved.
      </footer>

  	</div>
  </div>
</div>


