<h1>User Name - <%= current_user.user_name %></h1>

<% @pictures.each do |picture| %>
  <div class="col-md-3">
    <ul>
      <li><%= image_tag picture.photo (:medium) %></li>
      <li>Caption - <%= room.room_description %></li>
    </ul>
  </div>
<% end %>



