<!-- xinyu: added header -->
<div class="whole">
      <header>
        <a href="/landing"><h6>PROGRESS PICS</h6></a>
        <ul>
          <li><a id="yourprofile" href="/">New Pics</a></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </header>

<section class="wrapper">

<!-- xinyu: added header -->
<h1>Your Progress Pics</h1>
<div class="yourppics">
	<img src="http://i58.tinypic.com/2czvj8i.png" alt="itworks" width="100%">
	</div>
	<br>
<div class="yourppics">
<% @pictures.each do |picture| %>
  <div class="col-md-3">
    <ul>
      <li><%= image_tag picture.photo.url (:medium) %></li>
      <li>Caption - <%= picture.caption %></li>
    </ul>
  </div>
<% end %>
</div>
<!-- xinyu: added footer -->
  </section>
  <footer>
    Copyright © 2015 Process Pics. All rights reserved.
  </footer>

</div>
<!-- xinyu: added footer -->

