<!DOCTYPE html>
<html>
<head>
  <title>ProgressPics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--xinyu: testing adobe typekit fonts -->
<script src="//use.typekit.net/ewb6hkx.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<!--xinyu: testing adobe typekit fonts -->


</head>
<body>

<%= yield %>

</body>
</html>
